<p>{{ quote.description }}</p>
<p>{{ quote.name }}</p>

<p>This quote was published at {{ quote.completeDate | dateCount }} hours</p>
<div class="row">
  <div class="col-md-4">
    <button (click)="quoteDelete(true)" class="btn btn-danger">
      Delete Quote
    </button>
  </div>
</div>
  <div class="card-body" >
    <h5 class="card-title">Number of Votes</h5>
    <p class="card-text">{{ numberOfVotes }}</p>
    <button (click)="upvoteButtonClick()" class="btn btn-success btn-space">
      upvote
    </button>
    
    <button (click)="downvoteButtonClick()" class="btn btn-danger m-3">
      downvote
    </button>
  
</div>
